Imports

In [98]:
# Your work for Part 1 here!
# Remember to organize your work by including your own markdown cells!

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [35]:



dftrain = pd.read_csv("train.csv")  
dftest = pd.read_csv("test.csv")

In [100]:
columns = dftrain.columns.tolist()


dftrain

,Unnamed: 0,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,0,70172,1,0,13,1,2,460,3,4,...,5,4,3,4,4,5,5,25,18,0
1,1,5047,1,1,25,0,0,235,3,2,...,1,1,5,3,1,4,1,1,6,0
2,2,110028,0,0,26,0,0,1142,2,2,...,5,4,3,4,4,4,5,0,0,1
3,3,24026,0,0,25,0,0,562,2,5,...,2,2,5,3,1,4,2,11,9,0
4,4,119299,1,0,61,0,0,214,3,3,...,3,3,4,4,3,3,3,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103899,103899,94171,0,1,23,0,1,192,2,1,...,2,3,1,4,2,3,2,3,0,0
103900,103900,73097,1,0,49,0,0,2347,4,4,...,5,5,5,5,5,5,4,0,0,1
103901,103901,68825,1,1,30,0,0,1995,1,1,...,4,3,2,4,5,5,4,7,14,0
103902,103902,54173,0,1,22,0,1,1000,1,1,...,1,4,5,1,5,4,1,0,0,0
103903,103903,62567,1,0,27,0,0,1723,1,3,...,1,1,1,4,4,3,1,0,0,0

In [102]:
dftrain.shape

(103594, 25)

In [104]:
dftest.shape

(25893, 25)

In [106]:

dftrain.dropna(inplace=True)
dftrain.isna().sum()
dftest.dropna(inplace=True)
dftest.isna().sum()

Unnamed: 0                           0
id                                   0
Gender                               0
Customer Type                        0
Age                                  0
Type of Travel                       0
Class                                0
Flight Distance                      0
Inflight wifi service                0
Departure/Arrival time convenient    0
Ease of Online booking               0
Gate location                        0
Food and drink                       0
Online boarding                      0
Seat comfort                         0
Inflight entertainment               0
On-board service                     0
Leg room service                     0
Baggage handling                     0
Checkin service                      0
Inflight service                     0
Cleanliness                          0
Departure Delay in Minutes           0
Arrival Delay in Minutes             0
satisfaction                         0
dtype: int64

In [116]:
dftrain.dtypes
label_encoder = LabelEncoder()

# Identify object columns in the DataFrame
# Convert the column names to sets before using the & operator
object_columns = set(dftrain.select_dtypes(include=['object']).columns) 
test_obj_col = set(dftest.select_dtypes(include=['object']).columns) 



# Apply label encoding to each object column
for col in object_columns:
    dftrain[col] = label_encoder.fit_transform(dftrain[col])  # Encode the column
for col2 in test_obj_col: 
    dftest[col2] = label_encoder.fit_transform(dftest[col]) 
# Now dftrain has object columns converted to integers
dftrain.dtypes 
#remove floats 
dftrain = dftrain.astype(int) 
dftest = dftest.astype(int) 

#rename columns 

dftest.dtypes
#dftrain = dftrain.drop(columns = 'Unnamed: 0')
#dftest = dftest.drop(columns = 'Unnamed: 0') 
dftest

,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,19556,0,0,52,0,0,160,5,4,3,...,5,5,5,5,2,5,5,50,44,0
1,90035,0,0,36,0,0,2863,1,1,3,...,4,4,4,4,3,4,5,0,0,0
2,12360,0,0,20,0,0,192,2,0,2,...,2,4,1,3,2,2,2,0,0,0
3,77959,0,0,44,0,0,3377,0,0,0,...,1,1,1,1,3,1,4,0,6,0
4,36875,0,0,49,0,0,1182,2,3,4,...,2,2,2,2,4,2,4,0,20,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25971,78463,0,0,34,0,0,526,3,3,3,...,4,3,2,4,4,5,4,0,0,0
25972,71167,0,0,23,0,0,646,4,4,4,...,4,4,5,5,5,5,4,0,0,0
25973,37675,1,1,17,1,1,828,2,5,1,...,2,4,3,4,5,4,2,0,0,1
25974,90086,0,0,14,0,0,1127,3,3,3,...,4,3,2,5,4,5,4,0,0,0
25975,34799,1,1,42,1,1,264,2,5,2,...,1,1,2,1,1,1,1,0,0,1

In [118]:
dftrain = dftrain.set_index('id')
dftest = dftest.set_index('id') 
dftrain.to_csv('cleaned_train.csv') 
dftest.to_csv('cleaned_test.csv')